/* GLOBAL ============== */

:root {

    /* BACKGROUNDS */

    --header-color: #000000;
    --body-color: #1a191c;
    --value-color: rgb(255, 255, 255);
    --base-color: #ffffff;
    --footer: #8257e6;

    /* BASIC COLORS */

    --primary-color: #212025;
    --secundary-color: #8257e6;
    --shadow: #1b1629; 
    --descriptions-color: #969cb3; 
    
    /* INPUT */
    
    --button-new: #583b96;
    --input-focus: #583b96;
    --input-select: #8257e6;
    --input-form: #111111;
    --place-holder: #7c7c7c;
    
    
    --dark-blue: #363f5f;
}

.dark:root {
    /* CHANGE ALL COLORS */
    
    /* BACKGROUNDS */
    
    --header-color: #3a116e;
    --body-color: #f0f0f0;
    --value-color:#111111;
    --base-color: #ffffff;
    --footer:#1a191c;
    
    /* COLORS */
    
    --primary-color: #fff;
    --secundary-color: #00BB29;
    --shadow: #4747473a;
    --descriptions-color: #111111; 
    
    /* INPUT */
    
    --button-new: #d3366f;
    --input-focus: #e05d8e;
    --input-select: #d3366f;
    --input-form: #e2e2e2;
    --place-holder: #000;
    
    
    --dark-blue: #363f5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; 
}

body {
    background: var(--body-color);
    font-family: 'Poppins';

}

#container {
    width: min(90vw, 800px);
    margin: auto;
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--value-color);
    font-weight: 500;
}

html {
    font-size: 93.15%; /* 15px */
}

/* HEADER ============== */

.theme {
    background-color: var(--header-color);
    display: flex;
    transition: background 0.2s linear;
    justify-content: flex-end;
}

header {
    background: var(--header-color);
    padding: 1rem 0 10rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s linear;
    
}
header.dark {
    background: green;
} 

#logo {
    color: var(--base-color);
    font-weight: 100;

}

/* BALANCE ============== */

#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: var(--base-color);
    margin-top: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


/* LINKS & BUTTONS =========*/

a {
    color: var(--button-new);
    text-decoration: none;
}

a:hover {
    color: var(--input-select);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    border: 2px solid;
    border-radius: 0.5rem;

    width: 100%;
    height: 45px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6rem;
}

button {
    width: 100%;
    height: 45px;

    border: none;
    color: var(--base-color);
    background-color: var(--input-focus);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem var(--shadow);

    font-family: "Poppins";
    font-weight: 400;
    font-size: 12ps;
    cursor: pointer;
}

button:hover {
    background-color: var(--input-select);
    color: var(--base-color);
}

/* CARDS ================ */

.card {
    background-color: var(--primary-color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    color: var(--base-color);
    box-shadow: 0 0 6em var(--shadow);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    color: #969cb3;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
    color: var(--value-color);
}

.card.total {
    background: var(--secundary-color);
    color: var(--base-color);
}

/* TABLE ============== */

#transaction {
    
    width: 100%;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--descriptions-color);
}


table thead tr th:first-child,
table tbody tr td:first-child {
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

table th {
    background: var(--primary-color);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;
}

table tr {
    opacity: 0.6;
}

table tr:hover {
    opacity: 1;
}

table td {
    background: var(--primary-color);
    padding: 1rem 2rem;
    font-weight: normal;
}

#shadow {
    box-shadow: 0 0 10em var(--shadow);
}

#delete {
    cursor: pointer;
}

.expense {
    color: rgba(252, 34, 34, 0.726)
}

.income {
    color: rgb(1, 161, 1)
}

td.description {
    color: var(da);
}

#total {
    color: var(--base-color);
    font-weight: 400;
}

#text-total {
    color: white;
    font-weight: 500;
}

/* MODAL ============== */

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: var(--body-color);
    padding: 2.4rem;

    position: relative;
    color: var(--base-color);
    box-shadow: 0 0 0.8em var(--shadow);
    width: 90%;
    max-width: 500px;
    border-radius: 0.5rem;
}

/* FORM ================ */

#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    border-radius: 0.5rem;
    background-color: var(--input-form);
    border: none;

    padding: 0.8rem;
    width: 100%;
    color: var(--place-holder);   
}

input:focus { /* QUANDO O INPUT ESTÁ SENDO FOCADO */
    outline: none !important;
    border:2px solid var(--input-focus);
}

.input-group {
    margin-top: 0.9rem;
}

.input-group small{
    opacity: 1;
    color: #5b5a61;
    margin-top: 0.9rem;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}

::-webkit-input-placeholder {
    color: var(--place-holder);
    opacity: 50%;
 }
 
/* FOOTER ============== */

footer {
    text-align: center;
    padding: 4rem 0 2rem;
    opacity: 0.7;
    font-style: italic;
    font-weight: 300;
    color: var(--footer);
    font-weight: 300;

    bottom: 0;
    width: 100%;
}


/* RESPONSIVE ============ */

@media (min-width: 800px) { /* Responsável pela responsibilidade... */ 
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* cada fração significa uma parte */
        gap: 2rem;
    }
}

/* DARK & LIGTH MODE ====== */

#checkbox-position {
    margin: 2rem;
}

.checkbox {
    opacity: 0;
    visibility: hidden;
    position: fixed;
}

.label {
    height: 26px;
    width: 50px;
    background-color: var(--primary-color);
    display: flex;
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 5px;
}

.ball {
    width: 22px;
    height: 22px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;

    transition: transform 0.2s linear;
}

.checkbox:checked + .label {
    background-color: #ffffff;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
    background-color: #3a3a3a;
    opacity: 1;
}


/* SELECT BOX TRANSITIONS =========== */

#transaction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px
}

.wrapper {

    box-sizing: border-box;
}

.wrapper .title-wrapper {
    background: var(--input-focus);
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    opacity: 0.9;
     
}

.wrapper .title-wrapper:hover {
    opacity: 1;
}

.transitions-wrapper {
    width: 200px;
    height: 50px auto;
    user-select: none; 
}

#default-title {
    font-weight: 300;
    font-size: 16px;
    color: #FFF;

    padding: 13px 13px;
    
}

.title-wrapper #default-title:before {
    content: "";
    position: absolute;
    top: 18px;
    right: 18px;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent #FFF #FFF;
    transform: rotate(-45deg);
}

.list-wrapper {
    position: relative;
    top: 10px;
    left: 0;
    width: 100%;
    background: var(--input-focus);
    color: #FFF;


    border-radius: 6px;
    font-weight: 300;
    display: none;
    opacity: 0.6;
}

.list-wrapper:hover {
    opacity: 1
}

.transitions-wrapper .default li {
    user-select: none; 
}

.list-wrapper li {
    padding: 13px 13px;
    cursor: pointer;     
    list-style: none;
    border-radius: 6px;
}

.list-wrapper li:hover {
    background: var(--input-select);
}

.transitions-wrapper.active .list-wrapper {
    display: block;
    transition: 0.2s linear;
}

.title-wrapper.active #default-title:before {
    transform: rotate(-225deg);
    top: 24px;
}